dd a {
    cursor: pointer;
}

.top_menu_bar,
.top_menu_bar .layui-nav-item {
    line-height: 30px;
    height: 30px;
}

.tool_bar {
    height: 35px;
    line-height: 35px;
}

.tool_bar a {
    padding: 10px;
    margin-left: 5px;
    color: rgba(241, 245, 249, 0.7);
    height: 35px;
    line-height: 35px;
    cursor: pointer;
}

.tool_bar a:hover {
    background-color: rgb(101, 108, 129);
}

.layui-layout-admin .layui-body {
    bottom: 0px;
}

.layui-tab,.layui-table-view {
    margin: 0px 0px 0px 0px;
}

.layui-tab-card {
    box-shadow: none;
}

.layui-tree-txt {
    color: aqua;
}

.top_menu_bar .layui-nav-child {
    top: 40px;
}

.layui-layout-admin .layui-side,
.layui-layout-admin .layui-body {
    top: 65px;
}

.layui-layout-admin .layui-side {
    overflow-x: auto;
}

.db::before {
    content: "\1F4E6  ";
    font-style: normal;
}

.table::before {
    content: "\1F4DD  ";
    font-style: normal;
}

.connection::before {
    content: "\1F50C  ";
    font-style: normal;
}

.waiting::after {
    content: url("layui/css/modules/layer/default/loading-3.gif");
}

.container {
    display: grid;
    grid-template-columns: minmax(525px, 1fr) 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
}

.table-container{
    overflow: auto;
}

.table-container .layui-table td{
    padding: 1px 0px;
    font-size: 14px;
}
.layui-table-cell{
    height: fit-content;
    line-height: 16px;
    padding: 0px 5px;
}
.table-container .layui-table-view .layui-form-checkbox[lay-skin=primary] i{
    width: 14px;
    height: 14px;
    top: 1px;
}
.table-container .layui-table-cell .layui-form-checkbox[lay-skin=primary] {
    top: 1px;
}

.table-container .layui-table-tool-self{
    left: 0px;
}
.table-container .layui-table-tool-temp{
    padding-right: 10px;
    padding-left: 120px;
}
.table-container .layui-table-tool .layui-table-tool-self .layui-table-tool-panel{
    right: auto;
}

#history-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.container-ud {
    display: grid;
    grid-template-rows: minmax(245px, 1fr) 1fr;
    grid-template-columns: 1fr;
    grid-column-gap: 10px;
}

.editor {
    width: 100%;
    height: 600px;
}